body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Kufam', cursive;
    background-color: #264653;
}

h1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 1em;
    margin: 0;
    color: #b0b5ae;
    font-size:48px;
}

p {
    color: #b0b5ae;
}

#chartContainer {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
}

.phase {
    position: absolute;
    right: 2em;
    text-align: center;
    top: 2em;
    margin: 0;
    color: #b0b5ae;
}

.inputs-wrapper {
    top: 1em;
    left: 1em;
    position: absolute;
    display: grid;
}

.input-values {
    display: grid;
    grid-template-columns: 65% 15%;
  }
  
  
  .scrollbar {
    background: black;
    display: block;
  }
  
  .outputvalue {
    border: 0;
    display: block;
    text-align: center;
    color: #b0b5ae;
    background-color: #264653
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    border-radius: 10px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: #f1faee;
    cursor: pointer;
    border-radius: 100%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #f1faee;
    cursor: pointer;
  }

.modal-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: grid;
    place-items: center;
    visibility: hidden;
}

.modal-content {
    background-color: white;
    border-radius: 1em;
    padding: 2em;
    width: 50%;
}

h2 {
    margin: 0;
    display: inline;
}

.modal-header {
    display: grid;
    grid-template-columns: auto 20px;
    align-content: center;
}

.float-right {
    float: right;
}

#learnMoreIcon {
    position: absolute;
    bottom: 2em;
    right: 2em;
}

.button-cursor:hover {
    cursor: pointer;
}

.choice {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 5px;

    background-color: white;
    color: black;
}

.choice-clicked {
    background-color: black;
    color: white;
    
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 5px;

}

.text-center {
    text-align: center;
}

#button {
    margin-top: 10%;
    margin-left: 8%;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
    background-color: #d3d3d3;
    opacity: 0.7;
    border: 0;
    outline: none;
    box-shadow: 0 4px #999;
}

#button2{
    margin-top: 10%;
    margin-left: 8%;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
    background-color: #d3d3d3;
    opacity: 0.7;
    border: 0;
    outline: none;
    box-shadow: 0 4px #999;
    visibility: hidden;
}

#button:hover {
    opacity: 1; 
}

#button:active {
    background-color: #d3d3d3;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

p {
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 7px;
}